.custom-table {
  margin: auto;
  width: 90vw;
  margin-top: 70px;
  td {
    border: 2px solid crimson;
  }
}
.inputs {
  margin-top: 15px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}
